h5 {
   font-size:25px;
}
    

h2 {
    color:#7a7a52;
    font-family: Arial Rounded MT Bold;
    line-height: 1.8;

}
.header img {
    float: left;
    width: 200px;
    height: 100px;
    }
